/*---------font------------------*/
.sitename {
  display: inline;
}

p {
  font-size: 1rem;
}

body {
  background-color: #F3F9E3;
}

body footer {
  background-color: #24638A;
}

body nav {
  background-color: #24638A;
  position: relative;
  height: 75px;
}

body nav .navi-link {
  color: #F3F9E3;
  margin: 5px;
  font-size: 1rem;
}

body nav .nav-item {
  text-align: center;
}

body .button {
  display: none;
}

body header .hero-space {
  width: 100%;
  position: relative;
}

body header .message {
  background-color: rgba(243, 249, 227, 0.7);
  position: absolute;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px #F3F9E3;
          box-shadow: 0 0 20px #F3F9E3;
  border-radius: 4px 0 0 4px;
  color: #2F80B2;
}

body header .hero-img {
  width: 100%;
}

body main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2%;
}

body main .title {
  font-size: 2.5rem;
  color: #248A7E;
}

body main .histrical-background {
  background-color: rgba(47, 128, 178, 0.4);
  padding: 2.5%;
}

body main .history-link {
  display: block;
  color: #2F80B2;
  text-align: end;
  padding: 1.5%;
}

body main .city-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .card {
  margin: 0 2%;
  width: 420px;
}

body main .news {
  width: 350px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body footer {
  padding: 5%;
  text-align: center;
  margin-top: 5%;
}

body footer .f-content {
  color: #F3F9E3;
  font-size: 1.2rem;
}

@media screen and (min-width: 900px) {
  .message {
    top: 10%;
    left: 60%;
    width: 40%;
    -webkit-animation: lighttoleft 3s;
            animation: lighttoleft 3s;
  }
  @-webkit-keyframes lighttoleft {
    from {
      left: 100%;
    }
    to {
      left: 60%;
    }
  }
  @keyframes lighttoleft {
    from {
      left: 100%;
    }
    to {
      left: 60%;
    }
  }
  .hero-img {
    width: 100%;
  }
}

@media screen and (max-width: 899px) {
  /*-----font-------*/
  p {
    font-size: 0.8rem;
  }
  body header .message {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    background-color: rgba(255, 234, 117, 0.2);
    border-radius: 0 0 0 0;
  }
  body header .message .welcome {
    font-size: 2rem;
    font-weight: 400;
  }
  body header .message .lead {
    font-size: 0.8rem;
  }
  body .navisheet {
    background-color: rgba(36, 99, 138, 0.7);
    position: absolute;
    width: 70%;
    z-index: 10;
    top: 75px;
    left: 30%;
  }
  body ul {
    margin: 0;
    padding: 8% 0;
  }
  body .navi-link {
    font-size: 1.5rem;
    margin-top: 3%;
  }
  body .button {
    background-color: transparent;
    border: none;
    display: inline;
  }
  body ul.hide {
    display: none;
  }
  body .bar1, body .bar2, body .bar3 {
    width: 25px;
    height: 4px;
    background-color: #F3F9E3;
    margin: 4px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 0;
  }
  body main .title {
    font-size: 1.3rem;
  }
  body main .siteseeing .city-card {
    display: inline;
  }
  body main .siteseeing .s-cd-i {
    width: 30%;
    margin: 6% 2%;
  }
  body main .siteseeing .s-cd-c {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2% 0;
  }
  body main .siteseeing .card-body {
    padding: 3%;
  }
  body main .siteseeing .card-body h5, body main .siteseeing .card-body p {
    margin: 0;
  }
  body main .siteseeing .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */