$white:#F3F9E3;
$lightb:#2F80B2;
$b:#24638A;
$y:#FFEA75;
$g:#248A7E;

/*---------font------------------*/
    .sitename{
        display: inline;
    }
    p{
        font-size: 1rem;
    }


body{
background-color: $white;
footer{
    background-color: $b;
}

nav{
    background-color:$b;
    position: relative;
    height: 75px;
    .navi-link{
        color: $white;
        margin: 5px;
        font-size: 1rem;
    }
    .nav-item{
        text-align: center;
    }
}   
    .button{
    display: none;
}
header{
    .hero-space{
        width: 100%;
        position: relative;
    }
    .message{
        background-color: rgba($color:$white, $alpha: 0.7);
        position: absolute;
        padding:20px;
        box-shadow: 0 0 20px $white;
        border-radius: 4px 0 0 4px;
        color: $lightb;
    }
    .hero-img{
        width: 100%;
    }

}
main{
    max-width: 1300px;
    margin: 0 auto;
    padding: 2%;


    .title{
        font-size: 2.5rem;
        color: $g;
    }
    .histrical-background{
        background-color: rgba($color: $lightb, $alpha: 0.4);
        padding: 2.5%;
    }
    .history-link{
        display: block;
        color: $lightb;
        text-align: end;
        padding: 1.5%;
    }

    .city-card{
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .card{
        margin: 0 2%;
        width: 420px;
    }
    .news{
        width: 350px;
        grid-column: 2/3;
        grid-row:1/2;
    }
}
footer{
    padding: 5%;
    text-align: center;
    margin-top:5%;
    .f-content{
        color:$white;
        font-size: 1.2rem;
    }
}
}

@media screen and (min-width:900px){

    .message{
        top:10%;
        left: 60%;
        width: 40%;
        animation: lighttoleft 3s;
    }
    @keyframes lighttoleft{
        from {
         left: 100%;
        
    }
    to {
         left: 60%;
        
    }
    }
    .hero-img{
        width: 100%;
    }

}
@media screen and (max-width:899px){
/*-----font-------*/
p{
    font-size: 0.8rem;
}
body{
    header{
        .message{
            position: sticky;
            text-align: center;
            background-color: rgba($color:#FFEA75, $alpha:0.2 );

            border-radius: 0 0 0 0;
            .welcome{
                font-size: 2rem;
                font-weight: 400;
            }
            .lead{
                font-size: 0.8rem;
            }
        }
    }
    .navisheet{
        background-color: rgba($color: #24638A, $alpha: 0.7);
        position: absolute;
        width: 70%;
        z-index: 10;
        top: 75px;
        left: 30%;
    }
    ul{
        margin: 0;
        padding: 8% 0;
    }
.navi-link{
        font-size: 1.5rem;
        padding: 2%;
    }
.button{
    background-color: transparent;
    border: none;
    display: inline;
}
ul.hide {
    display: none;
}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  background-color: $white;
  margin: 4px 0;
  transition: 0.4s;
  border:0;
}
    main{
        .title{
            font-size: 1.3rem;
        }
        .siteseeing{

            .city-card{
                 display: inline;
            }
            .s-cd-i{
                width: 30%;
                margin: 6% 2%;
            }
            .s-cd-c{
                flex-direction: row;
                margin: 2% 0;
            }
            .card-body{
                padding: 3%;
                h5,p{
                    margin: 0;
                }  
            }
            .card{
                width: 100%;
            }
        }
    }

}
}