$white:#F3F9E3;
$lightb:#2F80B2;
$b:#24638A;
$y:#FFEA75;
$g:#248A7E;

/*---------font------------------*/
    .sitename{
        display: inline;
    }
    p{
        font-size: 1rem;
    }


body{
background-color: $white;
footer{
    background-color: $b;
}

nav{
    background-color:$b;

    .navi-link{
        color: $white;
        margin: 5px;
    }
    .navbar-nav{
        margin: 10px 0 0 0 ;
    }
}
header{
    .hero-space{
        width: 100%;
        position: relative;
    }
    .message{
        background-color: rgba($color:$white, $alpha: 0.7);
        position: absolute;
        padding:20px;
        box-shadow: 0 0 20px $white;
        border-radius: 4px 0 0 4px;
        color: $lightb;
    }
    .hero-img{
        width: 100%;
    }

}
main{
    max-width: 1300px;
    margin: 0 auto;
    padding: 2%;


    .title{
        font-size: 2.5rem;
        color: $g;
    }
    .histrical-background{
        background-color: rgba($color: $lightb, $alpha: 0.4);
        padding: 2.5%;
    }
    .history-link{
        display: block;
        color: $lightb;
        text-align: end;
        padding: 1.5%;
    }

    .city-card{
        width:100%;
        display: flex;
        justify-content: space-between;
        padding: 2% 3%  2% 3%;
    }

    .news{
        width: 350px;
        grid-column: 2/3;
        grid-row:1/2;
    }
}

}

@media screen and (min-width:900px){

    .message{
        top:10%;
        left: 60%;
        width: 40%;
        animation: lighttoleft 3s;
    }
    @keyframes lighttoleft{
        from {
         left: 100%;
        
    }
    to {
         left: 60%;
        
    }
    }
    .hero-img{
        width: 100%;
    }

}
@media screen and (max-width:899px){
/*-----font-------*/
p{
    font-size: 0.8rem;
}
body{
    header{
        .message{
            position: sticky;
            text-align: center;
            background-color: rgba($color:#FFEA75, $alpha:0.2 );

            border-radius: 0 0 0 0;
            .welcome{
                font-size: 2rem;
                font-weight: 400;
            }
            .lead{
                font-size: 0.8rem;
            }
        }
    }
    main{
        .title{
            font-size: 1.3rem;
        }
        .siteseeing{

            .city-card{
                 display: inline;
            }
            .s-cd-i{
                width: 30%;
                margin: 6% 2%;
            }
            .s-cd-c{
                flex-direction: row;
                margin: 2% 0;
            }
            .card-body{
                padding: 3%;
                h5,p{
                    margin: 0;
                }
                
            }
        }
    }

}
}